<div class="resultscont">
  <div class="country" data-value="<%= @country %>"></div>
  <div class="transport_user" data-value="<%= @transport_user %>"></div>
  <div class="food_user" data-value="<%= @food_user %>"></div>
  <div class="house_user" data-value="<%= @house_user %>"></div>
  <div class="leisure_user" data-value="<%= @leisure_user %>"></div>

  <div>
    <div class="results-card-pie">
      <div>
        <div>
          <h1 id="title-result"> My CO2 Impact </h1>
        </div>
        <div class="middle ">
          <div class="titles--KPI">
            <h3 class="title-kpi">Co2 in kg</h3>
            <h3 class="title-kpi">Target</h3>
            <%# <div class=" hover-text numbers "> %>
              <%# <i class="fa-solid fa-circle-info" id="info"></i> %>
              <%# <span class="tooltip-text left" >Your Co2 Footprint is <strong><%= @co2_weighted.round(0) %><!--kg</strong>. Which is by far too much. We need to reach 2000kg (=2tons) per person to ensure a liveable world for our children.</span> %>-->
            <%# </div> %>
          </div>
          <div class="nr-result">
            <p id="KPI"><%= @co2_weighted.round(0) %></p>
            <p id="targetW">2000</p>
          </div>

          <div class="containerpie">
            <h2 class="split text-center">Split per category</h2>
            <%# <div class="hover-text chart"> %>
              <%# <i class="fa-solid fa-circle-info" id="info2"></i> %>
              <%# <span class="tooltip-text tooltip-text2 left" >Your Co2 impact is mainly coming from your transportation and your food. %>
              <%# </span> %>
            </div>
          </div>
          <div class="graphics">
            <canvas id="myChart" style="display: block; box-sizing: border-box; height: 280px; width: 280px;"></canvas>
          </div>
      </div>
    </div>

    <div class="container-radar">
      <div class="transportcountry" data-value="<%= @transport_country %>"></div>
      <div class="foodcountry" data-value="<%= @food_country %>"></div>
      <div class="housecountry" data-value="<%= @house_country %>"></div>
      <div class="leisurecountry" data-value="<%= @leisure_country %>"></div>
      <div >
        <h2 class="comparison text-center ">Comparison</h2>

        <%# <div class="hover-text tooltipComparison">
          <i class="fa-solid fa-circle-info" id="info3"></i>
            <%# <span class="tooltip-text tooltip-text3">We are comparing your impact per category versus <%= @co2_weighted.round(0) %><!--kg average citizen -->
            <%# </span> %>
        <%# </div>  %>
      </div>
      <div class="graphics">
        <canvas id="myRadar" style="display: block; box-sizing: border-box; width: 280px; height: 280px;"></canvas>
      </div>
    </div>
      <%# <div class="container"> %>
    <div>
      <%# <span>Get ideas!</span> %>
      <% if current_user %>
      <%= link_to 'Get ideas!'.html_safe, ideas_path(refresh: true), class: "button-container" %>
      <% else %>
        <%= link_to 'Get ideas!'.html_safe, new_user_registration_path(co:@co2_weighted), class: "button-container" %>
      <% end %>
    </div>
  </div>
</div>
